<form action="/figures/new" method="POST">
  <label>Title:</label>

  <br></br>

  <input type="text" name="figure_name" id="Name" value="">

  <br></br>

  <label>Landmark:</label>

  <br></br>

  <input type="text" name="figure_name" id="Name" value="">

  <br></br>

</form>
